body {
  font-family: Arial, sans-serif;
  background-color: rgb(59, 50, 50);
}

.chat-container {

  width: 60%;
  height: 75vh;
  margin: 80px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgb(59, 50, 50);
}

.chat-header {
  background: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-box {
  padding: 10px;
  max-height: 100%;
  overflow-y: scroll;
}

.chat-message {
  margin: 5px;
  padding: 10px;
  width: fit-content;
  border-radius: 5px;
}

.chat-message.bot {
  background: #f2f2f2;
}

.chat-message.user {
  background: #007bff;
  color: #fff;
  margin-left: auto;
  text-align: right;
}

.user-input {

  display: flex;
  position: fixed;
  bottom: 5%;
  width: 60%;
  height: 40px;

  align-items: center;
}





button {
  background: #007bff;
  color: #fff;
  border: none;
  font-size: larger;
  border-radius: 5px;
  padding: 10px;
  margin-left: 2px;
  cursor: pointer;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

div.body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}



.login-box {
  width: fit-content;
  background-color: rgba(135, 222, 148, 0.785);
  margin-top: 160px;
  padding: 50px 60px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px royalblue;
}

body.login::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
}