<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <h1 style="font-family: 'Playpen Sans', cursive; ">About Section ...</h1>
    <p style="font-family: 'Playpen Sans', cursive; ">HTML, CSS + (Bootstap), and JavaScript for the frontend, crafting the user interface and experience.</p>

       <p style="font-family: 'Playpen Sans', cursive; ">  Python as the backend language, along with Django as the framework, managing server-side operations and application logic.</p>
        
        <p style="font-family: 'Playpen Sans', cursive; ">Chatterbot, a Python library, integrated for intelligent chat functionalities, enhancing user interaction.</p>
        
        <p style="font-family: 'Playpen Sans', cursive; ">  Default SQLite3 used for the database, storing and managing application data and user information.</p>
</body>
</html>