<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <div class="profile">
                <img src="user-profile-image.jpg" alt="User Profile">
                <p>User Name</p>
            </div>
            <!-- Add additional sidebar content here -->
        </div>
        <div class="chat-window">
            
            
            <div class="messages">
                <div class="message bot-message">Hello!</div>  
                {% if response %}  
                
                <div class="message bot-message">{{ response }}</div>
                <!-- Add more chat messages here -->
                {% endif %}
            </div>
            <div class="input-bar">
                <form method="post">
                    {% csrf_token %}
                    {{ form.message.label_tag }}
                    {{ form.message }}
                    <input type="submit" id="userMessage" value="Send" >
                </form>
            </div>
        </div>
    </div>
</body>
</html>
